<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>時間割BOT</title>
</head>
<body>
  <h1>時間割BOT</h1>
  <div id="timetable">
    <div>
      <label>日付<label>
      <input type="date" v-model="date">
    </div>
    <div>
      <h3>時間割</h3>
      <table>
        <tr v-for="(subject, index) in timetable">
          <td>{{ index+1 }}</td>
          <td>{{ subject }}</td>
        </tr>
      </table>
    </div>
    <div>
      <h3>課題</h3>
      <ul>
        <li v-for="task in tasks">
          <h4>{{ task.subject }}</h4>
          <p>{{ task.detail }}</p>
        </li>
      </ul>
    </div>
    <div>
      <h3>イベント</h3>
      <ul>
        <li v-for="event in events">
          <h4>{{ event.name }}</h4>
        </li>
      </ul>
    </div>
    <div>
      <h3>課題登録</h3>
      <form @submit.prevent="addTask">
        <label>
          提出日<input type="date" name="deadline" v-model="deadline">
        </label>
        <label>
          教科<input type="text" name="subject" v-model="subject">
        </label>
        <label>
          詳細<input type="text" name="detail" v-model="detail">
        </label>
        <div>
          <label>タグ</label>
          <span v-for="task_tag in task_tags">
            <input type="text" name="tags" v-model="task_tag.value" @keydown.self.prevent.enter>
          </span>
          <button @click="addTaskTag">
            タグ追加
          </button>
        </div>
        <button type="submit">登録</button>
      </form>
    </div>
    <div>
      <h3>イベント登録</h3>
      <form @submit.prevent="addEvent">
        <label>
          日付<input type="date" name="event_date" v-model="event_date">
        </label>
        <label>
          イベント名<input type="text" name="event_name" v-model="event_name">
        </label>
        <label>
          タグ<input type="text" name="event_tags" v-model="event_tags">
        </label>
        <button type="submit">登録</button>
      </form>
    </div>
    <div>
      <h3>時間割変更登録</h3>
      <form @submit.prevent="addTimeTableChange">
        <label>
          日付<input type="date" name="timetable_change_date" v-model="timetable_change_date">
        </label>
        <label><input type="checkbox" value="1" v-model="period">1</label>
        <label><input type="checkbox" value="2" v-model="period">2</label>
        <label><input type="checkbox" value="3" v-model="period">3</label>
        <label><input type="checkbox" value="4" v-model="period">4</label>
        <label><input type="checkbox" value="5" v-model="period">5</label>
        <label><input type="checkbox" value="6" v-model="period">6</label>
        <label><input type="checkbox" value="7" v-model="period">7</label>
        <label><input type="checkbox" value="8" v-model="period">8</label>
        <label>教科<input type="text" name="subject" v-model="change_subject"></label>
        <button type="submit">登録</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
