<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>時間割BOT</title>
</head>
<body>
  <h1>時間割BOT</h1>
  <div id="timetable">
    <div>
      <label>日付<label>
      <input type="date" v-model="date">
    </div>
    <div>
      <h3>時間割</h3>
      <table>
        <tr v-for="(subject, index) in timetable.subjects">
          <td>{{ index+1 }}</td>
          <td>{{ subject }}</td>
        </tr>
      </table>
    </div>
    <div>
      <h3>課題</h3>
      <ul>
        <li v-for="task in tasks">
          <h4>{{ task.subject }}</h4>
          <p>{{ task.detail }}</p>
        </li>
      </ul>
    </div>
    <div>
      <h3>課題登録</h3>
      <form @submit.prevent="addTask">
        <label>
          提出日<input type="date" name="deadline" v-model="deadline">
        </label>
        <label>
          教科<input type="text" name="subject" v-model="subject">
        </label>
        <label>
          詳細<input type="text" name="detail" v-model="detail">
        </label>
        <label>
          タグ<input type="text" name="tags" v-model="tags">
        </label>
        <button type="submit">登録</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
